#!/usr/bin/make -f
%:
	dh $@ -Dsrc

override_dh_auto_configure:
	dh_auto_configure -- INSTALL_PREFIX=/usr USE_SDL_2=0
	# Use the line below to create package that uses SDL2
	#dh_auto_configure -- INSTALL_PREFIX=/usr USE_SDL_2=1

